version: 2
updates:
  - package-ecosystem: 'composer'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'drupal/core*'
        update-types: ['version-update:semver-major']
    groups:
      drupal-core:
        patterns:
          - 'drupal/core*'
    commit-message:
      prefix: '[composer] '
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: '[actions] '
