# Local dev files
.env*
.editorconfig
.gitattributes
.dccache
.DS_Store
.vscode
*.sql
settings*.php
default.conf
ports.conf
php-config.ini

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore contributed modules and themes.
web/modules/contrib
web/profiles/contrib
web/themes/contrib

# Ignore files that Drupal manages.
web/core/
web/README.md
web/example.gitignore
web/info.php
web/web.config
web/sites/development.services.yml
