apiVersion: apps/v1
kind: Deployment
metadata:
  name: flatbacks-deployment
  labels:
    app: flatbacks-website
spec:
  selector:
    matchLabels:
      app: flatbacks-website
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: flatbacks-website
    spec:
      containers:
        - name: flatbacks-website
          image: ghcr.io/dbca-wa/flatbacks-website
          imagePullPolicy: Always
          env:
            - name: TZ
              value: 'Australia/Perth'
          resources:
            requests:
              memory: '128Mi'
              cpu: '5m'
            limits:
              memory: '1Gi'
              cpu: '1000m'
          startupProbe:
            exec:
              command:
                - apachectl
                - configtest
            failureThreshold: 3
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 3
          livenessProbe:
            exec:
              command:
                - apachectl
                - configtest
            failureThreshold: 3
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 3
          securityContext:
            runAsNonRoot: true
            runAsUser: 33
            privileged: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: tmpdir-ram
              mountPath: /tmp
            - name: apache2-rundir
              mountPath: /var/run/apache2
      volumes:
        - name: tmpdir-ram
          emptyDir:
            medium: Memory
        - name: apache2-rundir
          emptyDir:
            medium: Memory
      restartPolicy: Always
      terminationGracePeriodSeconds: 180
      automountServiceAccountToken: false
      tolerations:
        - key: arch
          operator: Equal
          value: arm64
          effect: NoSchedule
      affinity:
        # Set a node affinity to favour ARM64-based nodes (preference only).
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: arch
                    operator: In
                    values:
                      - arm64
        # Set a pod anti-affinity to spread workload pods between nodes (preference only).
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: flatbacks-website
                topologyKey: kubernetes.io/hostname
