apiVersion: v1
kind: Service
metadata:
  name: flatbacks-clusterip
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: flatbacks-valkey
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
